<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>fragments</title>
</head>
<body>

<!--通过thymeleaf模板对导航栏进行对应的样式改变-->
<nav th:fragment="menu(n)" class="ui inverted attached segment">
    <div class="ui container">
        <div id="menu" class="ui inverted stackable secondary menu">
            <h2 id="logo" class="ui teal header">MyBlog</h2>
            <a href="#" class="menu item mobile-hide" th:href="@{../}" th:classappend="${n==1} ? 'active'"><i class="home icon"></i>首页</a>
            <a href="types.html" class="menu item mobile-hide" th:href="@{/types/-1}" th:classappend="${n==2} ? 'active'"><i class="idea icon"></i>分类</a>
            <a href="tags.html" class="menu item mobile-hide" th:href="@{/tags/-1}" th:classappend="${n==3} ? 'active'"><i class="tags icon"></i>标签</a>
            <a href="about.html" class="menu item mobile-hide" th:href="@{/about.html}" th:classappend="${n==4} ? 'active'"><i class="info icon"></i>关于</a>
            <div class="menu right item mobile-hide">
                <form id="search-form" target="_blank" method="post" th:action="@{/searchPage}">
                    <div id="searchbar" class="ui input inverted transparent">
                        <input type="search" name="query" id="search" placeholder=" 搜索..." th:value="${query}">
                        <i classs="search link icon" onclick="document.forms['search-form'].submit()"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button pos-top-right mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!-- 底部footer -->
<footer th:fragment="footer" id="footer" class="ui inverted vertical segment">
    <div class="ui center aligned container">
        <div class="ui stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <!-- 缺少一张图片 -->
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">博客推荐</h4>
                <div id="bloglist-container">
                    <div class="ui inverted link list" th:fragment="newBlogList">
                        <div class="footer-blog-link" th:each="blog : ${newBlogs}">
                            <a href="#" target="_blank" class="item" title="亚音速涡扇发动机最优涵道比" th:alt-title="${blog.title}" th:href="@{/blog/{id}(id=${blog.id})}" th:text="${blog.title}">亚音速涡扇发动机最优涵道比</a>
                        </div>
                        <!--/*-->
                        <a href="#" class="item" title="博客3">博客3</a>
                        <a href="#" class="item" title="博客2">博客2</a>
                        <!--*/-->
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">与我联系</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">E-mail:1050364782@qq.com</a>
                    <a href="#" class="item">QQ:1050364782</a>
                    <a href="#" class="item">blog:watermelonzzzx.cn</a>
                </div>
            </div>
            <div class="five wide column">
                <div class="ui inverted header">个人说明</div>
                <p>不要温顺地走进这凉夜，咆哮吧，痛斥这光的退缩</p>
            </div>
        </div>
        <div class="ui inverted section divider">
            <p id="copyright">Copyright@ 1999-2020 created by watermelon</p>
        </div>
    </div>
</footer>

</body>
</html>

