<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 引入senmanticUI -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
    <title>搜索结果</title>
</head>
<body>
<!-- 导航 -->
<!-- 为导航栏设置semanticUI提供的组件 -->
<nav th:replace="fragments :: menu(1)" class="ui inverted attached segment">
    <div class="ui container">
        <div id="menu" class="ui inverted stackable secondary menu">
            <h2 id="logo" class="ui teal header">MyBlog</h2>
            <a href="index.html" class="menu item mobile-hide"><i class="home icon"></i>首页</a>
            <a href="types.html" class="menu item mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="active menu item mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="about.html" class="menu item mobile-hide"><i class="info icon"></i>关于</a>
            <div class="menu right item mobile-hide">
                <div id="searchbar" class="ui input inverted transparent">
                    <input type="search" name="" id="search" placeholder="search...">
                    <i classs="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button pos-top-right mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!-- 中间内容 -->
<div id="center" class="container-width clear-fix">

    <div class="ui container">
        <!-- 中部content header -->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">搜索结果</h3>
                </div>
                <div class="right aligned column">
                    共 <h3 class="ui blue header show-inline" th:text="${page.totalElements}"> 3 </h3> 个
                </div>
            </div>
        </div>

        <!-- 博客内容 -->
        <div class="ui teal attached segment">
            <!-- 内容部分 -->
            <div class="ui segment" th:each="blog : ${page.content}">
                <div class="ui stackable grid">
                    <!-- 内容部分 -->
                    <div class="eleven wide column ">
                        <h3 class="ui header"><a href="#" class="black-color" target="_blank" th:text="${blog.title}">托卡马克方式的实现原理</a></h3>
                        <div class="p-content">
                            <p th:text="${blog.content}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolor nulla vero. Nulla
                                quam excepturi voluptates quisquam veniam id rerum, vel corrupti magnam expedita aut
                                at beatae illum labore fugiat?</p>
                        </div>
                        <div class="ui grid">
                            <div class="twelve wide column">
                                <div class="ui horizontal link list">
                                    <div class="item">
                                        <img src="../static/img/avatar2.jpg" alt="" class="ui avatar image" th:src="${blog.user.avatar}">
                                        <div class="content padding-none"><a href="#" class="header" th:text="${blog.user.nickname}">watermelon</a></div>
                                    </div>
                                    <div class="item padding-none top-3">
                                        <i class="calendar icon bottom-3"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2019-11-20</span>
                                    </div>
                                    <div class="item padding-none">
                                        <i class="eye icon top-1"></i><span class="top-3 margin-middle" th:text="${blog.views}">1234</span>
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned four wide column">
                                <a href="#" target="_blank" class="ui teal basic label show-inline" th:text="${blog.type.name}">粒子物理</a>
                            </div>
                        </div>
                    </div>
                    <!-- 图片部分 -->
                    <div class="four wide column content-img">
                        <a href="#" target="_blank" th:href="@{/blog/{id}(id=${blog.id})}">
                            <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image" th:src="@{|${blog.picture}/800/450|}">
                        </a>
                    </div>
                </div>
            </div>
            <!--/*-->
            <div class="ui stackable grid">
                <div class="eleven wide column ">
                    <h3 class="ui header">北大西洋暖流的推动原理</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolor nulla vero. Nulla quam
                        excepturi voluptates quisquam veniam id rerum, vel corrupti magnam expedita aut at beatae illum
                        labore fugiat?</p>
                    <div class="ui grid">
                        <div class="row">
                            <div class="twelve wide column">
                                <div class="ui horizontal link list">
                                    <div class="item">
                                        <img src="../static/img/avatar3.jpg" alt="" class="ui avatar image" th:src="@{/img/avatar3.jpg}">
                                        <div class="content padding-none"><a href="#" class="header">watermelon</a>
                                        </div>
                                    </div>
                                    <div class="item padding-none">
                                        <i class="calenar icon"></i>2019-11-20
                                    </div>
                                    <div class="item padding-none">
                                        <i class="eye icon"></i>1234
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned four wide column">
                                <a href="#" target="_blank" class="ui teal basic label show-inline">查看详情</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <a href="#" class="ui basice teal label">地球物理</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 图片部分 -->
                <div class="four wide column content-img">
                    <a href="#" target="_blank">
                        <img src="https://unsplash.it/800/450?image=1041" alt="" class="ui rounded image">
                    </a>
                </div>
            </div>
            <div class="ui stackable grid">
                <div class="eleven wide column ">
                    <h3 class="ui header">拉格朗日点平衡解析</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolor nulla vero. Nulla quam
                        excepturi voluptates quisquam veniam id rerum, vel corrupti magnam expedita aut at beatae illum
                        labore fugiat?</p>
                    <div class="ui grid">
                        <div class="row">
                            <div class="twelve wide column">
                                <div class="ui horizontal link list">
                                    <div class="item">
                                        <img src="../static/img/avatar3.jpg" alt="" class="ui avatar image" th:src="@{/img/avatar3.jpg}">
                                        <div class="content padding-none"><a href="#" class="header">watermelon</a>
                                        </div>
                                    </div>
                                    <div class="item padding-none">
                                        <i class="calenar icon"></i>2019-11-20
                                    </div>
                                    <div class="item padding-none">
                                        <i class="eye icon"></i>1234
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned four wide column">
                                <a href="#" target="_blank" class="ui teal basic label show-inline">查看详情</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <a href="#" class="ui basice teal label">天体物理</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 图片部分 -->
                <div class="four wide column content-img">
                    <a href="#" target="_blank">
                        <img src="https://unsplash.it/800/450?image=1032" alt="" class="ui rounded image">
                    </a>
                </div>
            </div>
            <!--*/-->
        </div>

        <!-- content footer -->
        <div class="ui attached segment" th:if="${page.totalPages}>1">
            <div class="ui two column grid">
                <div class="column show-inline">
                    <a href="#" class="ui teal basic button" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}">上一页</a>
                </div>
                <div class="right aligned column show-inline">
                    <a href="#" class="ui teal basic button" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}">下一页</a>
                </div>
            </div>
        </div>

    </div>
</div>

<br>
<br>
<!-- 底部footer -->
<footer th:replace="fragments :: footer" id="footer" class="ui inverted vertical segment">
    <div class="ui center aligned container">
        <div class="ui stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <!-- 缺少一张图片 -->
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">博客1</a>
                    <a href="#" class="item">博客3</a>
                    <a href="#" class="item">博客2</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">友情链接</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">链接1</a>
                    <a href="#" class="item">链接3</a>
                    <a href="#" class="item">链接2</a>
                </div>
            </div>
            <div class="five wide column">
                <div class="ui inverted header">个人说明</div>
                <p>不要温顺地走进这凉夜，咆哮吧，痛斥这光的退缩</p>
            </div>
        </div>
        <div class="ui inverted section divider">
            <p id="copyright">Copyright@ 1999-2019 created by watermelon</p>
        </div>
    </div>
</footer>

<!-- 引入jquery -->
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<!-- 引入semanticUI -->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
</body>
</html>