<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>admin_fragments</title>
</head>
<body>

<nav th:fragment="menu(n)" class="ui inverted attached segment" >
    <div id="menu-container" class="ui container">
        <div id="menu" class="ui inverted stackable secondary menu">
            <a target="_blank" href="/" th:href="@{/}"><img id="logo" src="/img/logo.png" th:src="@{/img/logo.png}"></a>
            <h2 id="name" class="ui teal header">Blog后台</h2>
            <a href="admin.html" class="menu item mobile-hide" th:href="@{../admin/admin.html}" th:classappend="${n==1} ? 'active'"><i class="home icon"></i>博客</a>
            <a href="types.html" class="menu item mobile-hide" th:href="@{/admin/types.html}" th:classappend="${n==2} ? 'active'"><i class="idea icon"></i>分类</a>
            <a href="tags.html" class="menu item mobile-hide" th:href="@{../admin/tags.html}" th:classappend="${n==3} ? 'active'"><i class="tags icon"></i>标签</a>
            <a href="resource.html" class="menu item mobile-hide" th:href="@{../admin/resource.html}" th:classappend="${n==4} ? 'active'"><i class="paper plane icon"></i>资源</a>
            <div class="right menu mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://unsplash.it/100/100?image=1005" th:src="@{/img/myavatar.jpg}" alt="" class="ui avatar image">
                        watermelon
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">个人资料</a>
                        <a href="#" class="item" th:href="@{/admin/logout}">退出</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button pos-top-right mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!-- 底部footer(未使用) -->
<footer th:fragment="footer" id="footer" class="ui inverted vertical segment">
    <div class="ui center aligned container">
        <div class="ui stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <!-- 缺少一张图片 -->
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <div>
                        <a href="#" class="item" title="亚音速涡扇发动机最优涵道比">亚音速涡扇发动机最优涵道比</a>
                    </div>
                    <div>
                        <a href="#" class="item" title="地缘政治对农耕文明经济的反馈作用">地缘政治对农耕文明经济的反馈作用</a>
                    </div>
                    <div>
                        <a href="#" class="item" title="博客3">博客3</a>
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">友情链接</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">链接1</a>
                    <a href="#" class="item">链接3</a>
                    <a href="#" class="item">链接2</a>
                </div>
            </div>
            <div class="five wide column">
                <div class="ui inverted header">个人说明</div>
                <p>不要温顺地走进这凉夜，咆哮吧，痛斥这光的退缩</p>
            </div>
        </div>
        <div class="ui inverted section divider">
            <p id="copyright">Copyright@ 1999-2019 created by watermelon</p>
        </div>
    </div>
</footer>

</body>
</html>

