<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 引入senmanticUI -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/index.css" th:href="@{/css/index.css}">
    <link rel="icon" href="/img/logo.png" sizes="32x32" th:href="@{/img/logo.png}">
    <title>个人资料</title>
</head>
<body>
<!-- 导航 -->
<nav th:replace="admin/fragments :: menu(0)" class="ui inverted attached segment">
    <div class="ui container">
        <div id="menu" class="ui inverted stackable secondary menu">
            <h2 id="logo" class="ui teal header">MyBlog后台</h2>
            <a href="#" class="active menu item mobile-hide" th:classappend="${n==1} ? 'active'"><i class="home icon"></i>博客</a>
            <a href="../types.html" class="menu item mobile-hide" th:classappend="${n==2} ? 'active'"><i class="idea icon"></i>分类</a>
            <a href="../tags.html" class="menu item mobile-hide" th:classappend="${n==3} ? 'active'"><i class="tags icon"></i>标签</a>
            <a href="../resource.html" class="menu item mobile-hide" th:classappend="${n==4} ? 'active'"><i class="tags icon"></i>资源</a>
            <div class="right menu mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                        watermelon
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item" th:href="@{admin/information}">切换用户</a>
                        <a href="#" class="item" th:href="@{admin/logout}">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button pos-top-right mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!-- 二级导航栏 -->
<!--/*-->
<div class="ui attached pointing menu">
    <div class="ui container container-width">
        <div class="right menu ">
            <a href="blog-add.html" class="item" th:href="@{/admin/blog-add.html}">发布</a>
            <a href="#" class="active teal item" th:href="@{/admin/admin.html}">列表</a>
        </div>
    </div>
</div>
<!--*/-->

<!-- 中间内容 -->
<div id="center" class="container-width clear-fix">
    <div class="ui container">

        <div class="eleven wide column">
            <div class="ui top attached segment">
                <img src="../static/img/avatar2.jpg" alt="" class="ui tiny avatar image" th:src="${user.avatar}">
                <div class="ui header show-inline top-3" th:text="${user.nickname}">我</div>
            </div>
            <div class="ui attached segment">
                <p th:text="|用户名：${user.username}|"></p>
                <p th:text="|密码：${user.password}|">我愿有一所房子，面朝大海，春暖花开</p>
                <p th:text="|邮箱：${user.email}|">我愿有一所房子，面朝大海，春暖花开</p>
            </div>

        </div>

    </div>
</div>

<br>
<br>
<!-- 底部footer -->
<footer th:replace="fragments :: footer" id="footer" class="ui inverted vertical segment">
    <div class="ui center aligned container">
        <div class="ui stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <!-- 缺少一张图片 -->
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">博客1</a>
                    <a href="#" class="item">博客3</a>
                    <a href="#" class="item">博客2</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">友情链接</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">链接1</a>
                    <a href="#" class="item">链接3</a>
                    <a href="#" class="item">链接2</a>
                </div>
            </div>
            <div class="five wide column">
                <div class="ui inverted header">个人说明</div>
                <p>不要温顺地走进这凉夜，咆哮吧，痛斥这光的退缩</p>
            </div>
        </div>
        <div class="ui inverted section divider">
            <p id="copyright">Copyright@ 1999-2019 created by watermelon</p>
        </div>
    </div>
</footer>

<!-- 引入jquery -->
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<!-- 引入semanticUI -->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--<script src="../../static/js/index.js" th:src="@{/js/index.js}"></script>-->
<script>
    $("#bloglist-container").load(/*[[@{/footer/newBlog}]]*/"/footer/newBlog");

    $(".ui .dropdown").dropdown({
        on: 'hover'
    });

    //重新加载resource页面
    function page(object){
        $("[name='page']").val($(object).data("page"));
        loadResource();
    }

    function loadResource(){
        $("#table-container").load(/*[[@{/admin/picture/search}]]*/"/admin/picture/search",{
            page : $("[name='page']").val()
        });
    }
</script>
</body>
</html>