<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 引入senmanticUI -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/index.css" th:href="@{/css/index.css}">
    <link rel="icon" href="/img/logo.png" sizes="32x32" th:href="@{/img/logo.png}">
    <title>资源管理</title>
</head>
<body>
<!-- 导航 -->
<nav th:replace="admin/fragments :: menu(4)" class="ui inverted attached segment">
    <div class="ui container">
        <div id="menu" class="ui inverted stackable secondary menu">
            <h2 id="logo" class="ui teal header">MyBlog后台</h2>
            <a href="#" class="active menu item mobile-hide" th:classappend="${n==1} ? 'active'"><i class="home icon"></i>博客</a>
            <a href="../types.html" class="menu item mobile-hide" th:classappend="${n==2} ? 'active'"><i class="idea icon"></i>分类</a>
            <a href="../tags.html" class="menu item mobile-hide" th:classappend="${n==3} ? 'active'"><i class="tags icon"></i>标签</a>
            <a href="../resource.html" class="menu item mobile-hide" th:classappend="${n==4} ? 'active'"><i class="tags icon"></i>资源</a>
            <div class="right menu mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                        watermelon
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">切换用户</a>
                        <a href="#" class="item" th:href="@{admin/logout}">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button pos-top-right mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!-- 二级导航栏 -->
<!--/*-->
<div class="ui attached pointing menu">
    <div class="ui container container-width">
        <div class="right menu ">
            <a href="blog-add.html" class="item" th:href="@{/admin/blog-add.html}">发布</a>
            <a href="#" class="active teal item" th:href="@{/admin/admin.html}">列表</a>
        </div>
    </div>
</div>
<!--*/-->

<!-- 中间内容 -->
<div id="center" class="container-width clear-fix">
    <div class="ui container">
        <div class="ui segment form my-background-main" id="upload-table" >
            <form action="/admin/resource/upload" method="post" enctype="multipart/form-data">
                <div class="ui fluid action input field">
                    <input class="my-background-main" id="file" name="file" onclick="removeError()" type="file">
                    <button type="submit" id="upload-btn" class="ui teal button" name="upload"><i class="upload icon"></i>上传</button>
                </div>
            </form>
        </div>

        <div id="table-container">
            <table class="ui table my-background-main" th:fragment="list">
                <thead>
                <tr>
                    <th class="text-center my-background-main">></th>
                    <th class="text-center my-background-main">文件名</th>
                    <th class="text-center my-background-main">类型</th>
                    <th class="text-center my-background-main">大小</th>
                    <th class="text-center my-background-main">下载次数</th>
                    <th class="text-center my-background-main">上传时间</th>
                    <th class="text-center my-background-main">私有</th>
                    <th class="text-center my-background-main">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="resource : ${page.content}">
                    <td th:text="${resource.id}">1</td>
                    <td th:text="${resource.originalName}" th:alt-title="${resource.originalName}" class="resource-name text-center">web依赖</td>
                    <td th:text="${resource.type}" th:alt-title="${resource.type}" class="resource-type text-center">jar</td>
                    <td th:text="${resource.strSize}" class="text-center">2.93MB</td>
                    <td th:text="${resource.downloadTimes}" class="text-center">13</td>
                    <td th:text="${#dates.format(resource.uploadTime,'yyyy-MM-dd HH:mm')}" class="text-center">2020-2-12 09:27</td>
                    <td th:object="${resource}" class="text-center">
                        <input type="checkbox" id="isPrivate" name="isPrivate" class="ui checkbox top-5" th:checked="*{private}">
                        <a href="#" class="update-btn" th:href="@{/admin/resource/update/{id}(id=${resource.id})}"><i class="pink edit outline icon"></i></a>
                    </td>
                    <td>
                        <a href="#" class="ui mini teal button" th:href="@{/admin/resource/download/{id}(id=${resource.id})}"><i class="download icon"></i>下载</a>
                        <a class="ui mini red button del-btn" href="#" th:attr="data-href=|/admin/resource/delete/${resource.id}|"><i class="trash alternate icon"></i>删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th class="my-background-main" colspan="8" th:if="${page.totalPages}>1">
                        <div class="ui pagination menu my-background-main" th:unless="${page.first}">
                            <a class="item" onclick="page(this)" th:attr="data-page=${page.number}-1">上一页</a>
                        </div>
                        <div class="ui pagination menu my-background-main float-right" th:unless="${page.last}">
                            <a class="item" onclick="page(this)" th:attr="data-page=${page.number}+1">下一页</a>
                        </div>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>

<!--确认框-->
<div class="ui basic modal">
    <div class="ui icon header">
        <i class="red file excel outline icon"></i>
    </div>
    <div class="ui header text-center">
        Are you sure to delete?
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button" id="cancel">
            <i class="remove icon"></i>
            No
        </div>
        <div class="ui green ok inverted button" id="certain">
            <i class="checkmark icon"></i>
            Yes
        </div>
    </div>
</div>

<br>
<br>
<!-- 底部footer -->
<footer th:replace="fragments :: footer" id="footer" class="ui inverted vertical segment">
    <div class="ui center aligned container">
        <div class="ui stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <!-- 缺少一张图片 -->
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">博客1</a>
                    <a href="#" class="item">博客3</a>
                    <a href="#" class="item">博客2</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">友情链接</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">链接1</a>
                    <a href="#" class="item">链接3</a>
                    <a href="#" class="item">链接2</a>
                </div>
            </div>
            <div class="five wide column">
                <div class="ui inverted header">个人说明</div>
                <p>不要温顺地走进这凉夜，咆哮吧，痛斥这光的退缩</p>
            </div>
        </div>
        <div class="ui inverted section divider">
            <p id="copyright">Copyright@ 1999-2019 created by watermelon</p>
        </div>
    </div>
</footer>

<!-- 引入jquery -->
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<!-- 引入semanticUI -->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--<script src="../../static/js/index.js" th:src="@{/js/index.js}"></script>-->
<script>
    $("#bloglist-container").load(/*[[@{/footer/newBlog}]]*/"/footer/newBlog");

    $("#upload-btn").click(function (){
        var bool = $(".ui.form").form('validate form');
        if(bool){
            console.log("upload success!");
        } else {
            console.log("upload failed");
            $('.field').addClass("error");
        }
    });

    //验证上传文件不为空
    $('.ui.form').form({
        fields: {
            file: {
                identifier: 'file',
                rules: [{
                    type: 'empty',
                    prompt: '请选择上传文件！'
                }]
            }
        }
    });

    function removeError(){
        $(".error").removeClass("error");
    }

    $(function () {
        var f = false;
        $("#table-container").on("click","#isPrivate",function(){
            if(f = !f){
                var button = $(this).next();
                button.addClass("show");
            }else{
                var button = $(this).next();
                button.removeClass("show");
            }
        })
    });

    //弹出确认框确认
    $(function () {
        var obj = null;
        $("#table-container").on("click",".del-btn",function () {
            obj = this;
            $('.ui.basic.modal').modal('show');
        });
        $(".ui.modal").on("click","#cancel",function () {
            console.log("no");
        });
        obj = true;
        $(".ui.modal").on("click","#certain",function () {
            console.log("yes");
            var str = $(obj).data("href");
            $.get(str,function () {
                window.location.reload()
            });
        });
    });

    $(".ui .dropdown").dropdown({
        on: 'hover'
    });

    //重新加载resource页面
    function page(object){
        $("[name='page']").val($(object).data("page"));
        loadResource(object);
    }

    function loadResource(object){
        $("#table-container").load(/*[[@{/admin/resource/search}]]*/"/admin/resource/search",{
            page : $(object).data("page")
        });
    }
</script>
</body>
</html>